.konteiner{
    display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-family: 'Fira Sans Condensed', sans-serif;
  height: fit-content;
}

.block{
    overflow: auto;
    float: left;
    float: right;
    padding: 10px;
    background-color: rgb(232, 252, 176);
    width: 25%;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    min-width: 200px;
}
h2{
    font-size: 45px;
}
body{
    font-size: 22px;
    background-color: lightgray;
    background-image: url("taustaks.jpg");
    background-size: cover;
}
 .uudise-autor, .uudise-kuupaev{
     font-size: 14px;
     font-weight: bold;
     font-style: italic;
     font-family: Georgia, 'Times New Roman', Times, serif;
 }
 .loenupp{
     border-style: solid;
    border-color: black;
    border-width: 2px;
    background-color: gray;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 5px;
    padding-left: 5px;
}